<%= stylesheet_link_tag "courses", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <br>
  <div class="row">
    <h1 class="display-6 text-center">
      All Courses
    </h1>
  </div>

  <div class="main-content">
    <% @color = 0 %>
    <% @colors = %w[red yellow blue black] %>
    <% @courses.each do |c| %>

      <div class="palette__wrapper">
        <div class="palette palette--<%= @colors[@color] %>">
          <div class="palette__cover">
            <div class="palette__cover__border"><span><%= c.generate_full_code %></span></div>
          </div>
          <h4 class="note note-danger mb-3">
            <%= pluralize c.posts.sum(:view), 'View'  %>
          </h4>
          <h4 class="note note-success mb-3">
            <%= pluralize c.posts.count, 'Post' %>
          </h4>
          <h4 class="note note-info mb-3">
            <%= pluralize c.comments.count, 'Comment' %>
          </h4>
        </div>
        <h4>
          <a href=<%= course_posts_path(c.id)%>><%= c.title %></a>
          <small><%= c.description %></small>
        </h4>
      </div>
      <% if@color == 3 %>
        <% @color = 0 %>
      <% else %>
        <% @color += 1 %>
      <% end %>
    <% end %>
  </div>
</div>

