<%= stylesheet_link_tag "forum", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content m-b-sm border-bottom">
          <div class="p-xs">

            <h2 class="text-center">Courses</h2>
            <p class="text-center">View all the courses in our directory.</p>
          </div>
        </div>

        <div class="ibox-content forum-container">
          <% @courses.each_with_index do |c,i| %>
            <div class="forum-item active">
              <div class="row">
                <div class="col-md-9">
                  <div class="forum-icon">
                    <i class="fa fa-<%= i%2==0? 'school': 'book'%>"></i>
                  </div>
                  <a href=<%= course_posts_path(c.id) %> class="forum-item-title">
                    <%= c.title %>
                  </a>
                  <div class="forum-sub-title">
                    <%= c.description %>
                  </div>
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number">
                                <%= c.posts.sum(:view) %>
                            </span>
                  <div>
                    <small>Views</small>
                  </div>
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number">
                               <%= c.posts.count %>
                            </span>
                  <div>
                    <small>Posts</small>
                  </div>
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number">
                               <%= c.num_comms %>
                            </span>
                  <div>
                    <small>Comments</small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>