<h1> Ask a new Question </h1>
<%= form_with model: @post, url: course_posts_path(@id), local: true do |post_form| %>
    <%= post_form.label :Title %>
    <%= post_form.text_field :title %>
  
    <%= post_form.label :Question %>
    <%= post_form.text_field :description %>

    <%= post_form.submit "Submit" %>
  <% end %>