<div class="card-header bg-secondary bg-gradient">
  <div class="container-fluid">
    <div class="row">
      <div class="col comment-header">
        <span class="comment-pfp">
                <img
                  src="https://avatars.dicebear.com/api/bottts/<%= local_assigns[:uname] %>.svg"
                  class="rounded-circle comment-pic"
                  height="35"
                  alt="Robot"
                  loading="lazy"
                  />
        </span>
        <span class="comment-uname badge badge-dark bg-gradient">
            <span class="text-info h6">
              <strong><%= local_assigns[:uname] %></strong>
            </span>
        </span>
      </div>
      <div class="col d-flex flex-row-reverse">

        <% if local_assigns[:delete] %>
          <span class="px-2 py-3 badge badge-dark">
            <a href="<%= local_assigns[:delete] %>" class="card-link text-light" data-method="delete">
              <i class="fa fa-trash link-danger mx-1 fa-lg">
                <span class="font-monospace ms-1">Delete</span>
              </i>
            </a>
          </span>
        <% end %>

        <% if local_assigns[:edit] %>
          <span class="px-2 py-3 badge badge-dark mx-2">
            <a href="<%= local_assigns[:edit] %>" class="card-link text-light">
              <i class="fa fa-pen link-info mx-1 fa-lg">
                <span class="font-monospace ms-1">Edit</span>
              </i>
            </a>
          </span>
        <% end %>

         <span class="px-2 py-3 badge badge-dark bg-gradient text-warning">
             <%= local_time local_assigns[:date], :class =>"timestamp" %>
        </span>
      </div>
    </div>
  </div>
</div>
