<div class="header-partial">
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <div class="d-flex">
        <h1 class="navbar-brand">
          <%=link_to "GateExchange", courses_path%>
        </h1>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="d-flex">
            <% if @course.nil? %>
              <%  if current_page?(posts_path) %>
                <div class="dropdown">
                  <button class="btn btn-outline-success">Filter Posts</button>
                  <div class="dropdown-content">
                    <%= link_to "Comments", posts_path(:sort => "comments") %>
                    <%= link_to "Most Liked", posts_path(:sort => "likes") %>
                    <%= link_to "Most Disliked", posts_path(:sort => "dislikes") %>
                    <%= link_to "Most Viewed", posts_path(:sort => "views") %>
                  </div>
                </div>
                <%= render "layouts/clear_sort", sort:params[:sort], path:posts_path %>
              <% end %>
            <% else %>
              <%  if current_page?(course_posts_path(@course.id)) %>
                <div class="dropdown">
                  <button class="btn btn-outline-success">Filter Posts</button>
                  <div class="dropdown-content">
                    <%= link_to "Comments", course_posts_path(@course.id, :sort => "comments") %>
                    <%= link_to "Most Liked", course_posts_path(@course.id, :sort => "likes") %>
                    <%= link_to "Most Disliked", course_posts_path(@course.id, :sort => "dislikes") %>
                    <%= link_to "Most Viewed", course_posts_path(@course.id,  :sort => "views") %>
                  </div>
                </div>
                <%= render "layouts/clear_sort", sort:params[:sort], path:course_posts_path(@course.id) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path%> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path%> |
          <%= link_to "Login", new_user_session_path%>
        <% end %>
      </div>
      <form role="search" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>