<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GateExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
      />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
      />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css"
      rel="stylesheet"
      />

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="header-partial">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <h1 class="navbar-brand">
          <%=link_to "GateExchange", courses_path%>
        </h1>
        <% if @course != nil %>
          <% if current_page?(course_posts_path(@course.id))%>
            <div class = "navbar-nav me-auto mb-2 mb-lg-0">
              <div class="dropdown">
              <button class="btn btn-outline-success">Filter Posts</button>
              <div class="dropdown-content">
                <%=link_to "Comments", course_posts_path(@course.id, :sort => "comments")%>
                <%=link_to "Highest Rated", course_posts_path(@course.id, :sort => "ratings")%>
                <%=link_to "Most Viewed", course_posts_path(@course.id,  :sort => "views")%>
              </div>
              </div>
          </div>
          <% end %>
        <% end %>
        <% if current_page?(posts_path)%>
            <div class = "navbar-nav me-auto mb-2 mb-lg-0">
              <div class="dropdown">
              <button class="btn btn-outline-success">Filter Posts</button>
              <div class="dropdown-content">
                <%=link_to "Comments", posts_path(:sort => "comments")%>
                <%=link_to "Highest Rated", posts_path(:sort => "ratings")%>
                <%=link_to "Most Viewed", posts_path(:sort => "views")%>
              </div>
              </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        <form role="search" class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>

  <% if flash[:notice] or flash[:warning] %>

    <div class="container flash-messages">
      <br>
      <% if flash[:notice] %>
        <div class="alert alert-primary">
          <%= "#{flash[:notice]}" %>
        </div>
      <% end %>

      <% if flash[:warning] %>
        <div class="alert alert-warning">
          <%= "#{flash[:warning]}" %>
        </div>
      <% end %>
      <br>
    </div>

  <% end %>
  <%= yield %>

  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
  ></script>

  </body>
</html>
