<!DOCTYPE html>
<html>
  <head>
    <title>Gateexchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if flash[:notice] %>
    <div class="alert alert-primary">
      <%= "#{flash[:notice]}" %> 
    </div>
  <% end %>

  <% if flash[:warning] %>
    <div class="alert alert-warning">
      <%= "#{flash[:warning]}" %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
